.bgvideo {
    height: 10vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bgvideo video {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.effect {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(73, 33, 111, 0.158);
}

.video-text {
    color: blueviolet;
    z-index: 2;
}