@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
    font-family: Lobster, serif;
    background: linear-gradient(90deg, #5117a7 50%, #1e056e 100%);
}

p {
    color: blueviolet;
}

.nav-link {
    color: blueviolet;
}

.navbar-nav .nav-link.active {
    color: rgb(108, 87, 128);
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: rgb(108, 87, 128);;
}
.sidebar {
    color: blueviolet;
    background: linear-gradient(270deg, #5117a7 50%, #1e056e 100%);
}
.card {
    background: linear-gradient(270deg, #5117a7 50%, #1e056e 100%);
    color: blueviolet;
}
.card a {
    text-decoration: none;
    color: blueviolet;
}
.slide-text,
.footer-text {
    color: blueviolet;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #5117a7 50%, #1e056e 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.бажання {
    animation: myAnim 5s ease 0s 5 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0.8;
		transform: scale(0.2);
	}

	80% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 0;
		transform: scale(2.2);
	}
}

@media (max-widht: 755px) {
    .carousel-indicators {
        display: none;
    }
}